

*{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 700;
    font-family: Montserrat;
  }

  .container {
    padding:  60px 30px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .card {
    width:  200px;
    height: 200px;
    padding: 10px;
    background-color: aliceblue;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-grow: 1;
  }

  .card-um:hover {
    background-color: blueviolet;
  }

  .card-dois:hover {
    background-color: cornflowerblue;
  }

  
  .card-tres:hover {
    flex-grow: 2;
    background-color: aqua;
  }

  .card-quatro:hover {
    background-color: darkgreen;
  }
 
 
  .card-cinco:hover {
    flex-grow: 3;
    background-color: burlywood;
  }

  .card-seis:hover {
    background-color: rgb(223, 79, 203);
  }

 